<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href=
    "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title></title>
</head>
<body>
    <section class="section">
        <h1 class="title">Boilerplate ESIGN Audit Log</h1>
        <p>This audit log serves as a trail of events that led to
        this document being signed. You can cryptographically
        verify the authenticity of each signature at</p>
        <div class="container">
            <center>
                <a href=
                "https://app.boilerplate.co/verify/signature">https://app.boilerplate.co/verify/signature</a>
            </center>
        </div>
        <p></p>
        <section class="section">
            <h2 class="subtitle">Audit Trail</h2>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <td>User</td>
                        <td>Action</td>
                        <td>Timestamp</td>
                        <td>IP Address</td>
                        <td>Auxiliary Information</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each audit_trail}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.action}}</td>
                        <td>{{this.timestamp}}</td>
                        <td>{{this.ip_address}}</td>
                        <td>{{this.auxiliary_info}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
        <p>Thanks for using Boilerplate. For more information, go
        to&nbsp;<a href=
        "https://boilerplate.co/">https://boilerplate.co/</a></p>
    </section>
</body>
</html>
